.leftContainer{
    flex:3.5
}

.logo{
    font-weight: 400;
    margin-bottom:1rem;
}

.title{
    margin-bottom:1rem;
    font-weight: 400;
    font-family: sans-serif;
    font-style: italic;
    color:#00a99d;
}

.para{
    margin-bottom:1rem;
    color:#606060;
    font-size: 14px;
}
