.rightContainer{
    flex:3.5
}
.graphName{
    display: flex;
    align-items: center;
}

.icon{
    
    margin-right: 0.5rem;
}

span{
    font-size: 1rem ;
    font-weight: 500;
    color:#00a99d;
    
}